body {
  font-family: Montserrat;
  font-size: 18px;
}

.id p,
.nama_barang p {
  margin: 8px !important;
}

.nama_barang p {
  text-decoration: none;
  line-height: 1.5;
  color: #000;
}

.btn-detail-baju .btn {
  font-size: 12px !important;
  margin-right: 30px;
}
